build/.last-used
build/build.options.json
build/compile_commands.json
build/includes.cache
build/libraries.cache
build/rgbduino.ino.eep
build/rgbduino.ino.elf
build/rgbduino.ino.hex
build/rgbduino.ino.with_bootloader.bin
build/rgbduino.ino.with_bootloader.hex
build/libraries/FastLED/bitswap.cpp.d
build/libraries/FastLED/bitswap.cpp.o
build/libraries/FastLED/colorpalettes.cpp.d
build/libraries/FastLED/colorpalettes.cpp.o
build/libraries/FastLED/colorutils.cpp.d
build/libraries/FastLED/colorutils.cpp.o
build/libraries/FastLED/FastLED.cpp.d
build/libraries/FastLED/FastLED.cpp.o
build/libraries/FastLED/hsv2rgb.cpp.d
build/libraries/FastLED/hsv2rgb.cpp.o
build/libraries/FastLED/lib8tion.cpp.d
build/libraries/FastLED/lib8tion.cpp.o
build/libraries/FastLED/noise.cpp.d
build/libraries/FastLED/noise.cpp.o
build/libraries/FastLED/platforms.cpp.d
build/libraries/FastLED/platforms.cpp.o
build/libraries/FastLED/power_mgt.cpp.d
build/libraries/FastLED/power_mgt.cpp.o
build/libraries/FastLED/wiring.cpp.d
build/libraries/FastLED/wiring.cpp.o
build/libraries/FastLED/platforms/esp/32/clockless_rmt_esp32.cpp.d
build/libraries/FastLED/platforms/esp/32/clockless_rmt_esp32.cpp.o
build/preproc/ctags_target_for_gcc_minus_e.cpp
build/sketch/rgbduino.ino.cpp
build/sketch/rgbduino.ino.cpp.d
build/sketch/rgbduino.ino.cpp.o
build/sketch/.vscode/arduino.json
build/sketch/.vscode/c_cpp_properties.json
.vscode/arduino.json
.vscode/c_cpp_properties.json
